html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10px;
	background-color: #fff;
}
::-webkit-input-placeholder { 
  color: #b1b1b1;
}
::-moz-placeholder { 
  color: #b1b1b1;
}
:-ms-input-placeholder { 
  color: #b1b1b1;
}
:-moz-placeholder { 
  color: #b1b1b1;
}

#container {
	width: 100%;
	height: 100%;
}
#headerDiv {
	float: left;
	width: 100%;	
	height: 10%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
    display: flex;
    align-items: center;
}
#contentDiv {
	float: left;
	width: 100%;	
	height: 85%;
}
#bottomDiv {
	float: left;
	width: 98%;	
	height: 2%;
	padding: 1%;
	background-color: #0078bf;
    color: #fff;
    text-align: center;
    font-size: 1vw;
    letter-spacing: .01em;
}

.logo {
	width: 49%;
    float: left;
    margin-left: 1%;
}
.logo img {
    width: 16vw;
}
.vmrDisplay {
	width: 49%;
    float: left;
    text-align: right;
    margin-right: 1%;
    font-size: 0.9vw;
    font-weight: bold;
    color: #363636;
    letter-spacing: .1em;
}
.banner {
	float: left;
    background: url(../images/clevelandBanner.jpg) no-repeat;
    background-size: cover;
   	background-position: 50%;
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;    
}
.bannerCaption {
    margin-top: 20%;
}
.bannerHeadTxt {
	font-size: 3vw;;
}
.bannerSubTxt {
	text-align: center;
    font-size: 1.5vw;
}
.dialContainer {
    float: left;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialDiv {
	width: 20%;
}
.dialContainer input {
    color: #363636;
    width: 13vw;
    margin: 1% 0;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.dialContainer button {
    padding: 2%;
    margin-left: 2%;
    background-color: #0078bf;
    color: #fff;
    border-color: #0078bf;
    border-radius: 3px;
}
