html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10px;
	background-color: #fff;
}
::-webkit-input-placeholder { 
  color: #b1b1b1;
}
::-moz-placeholder { 
  color: #b1b1b1;
}
:-ms-input-placeholder { 
  color: #b1b1b1;
}
:-moz-placeholder { 
  color: #b1b1b1;
}

#container {
	width: 100%;
	height: 100%;
}
#headerDiv {
	float: left;
	width: 100%;	
	height: 8.5%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
#contentDiv {
	float: left;
	width: 100%;	
	height: 85%;
}
#bottomDiv {
	float: left;
	width: 98%;	
	height: 2%;
	padding: 1%;
	background-color: #0078bf;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    letter-spacing: .01em;
}

.logo {
	width: 49%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
.vmrDisplay {
	width: 49%;
    float: left;
    text-align: right;
    margin-top: 2%;
    margin-right: 1%;
    font-size: 1.25em;
    font-weight: bold;
    color: #363636;
    letter-spacing: .1em;
}
.assingedVMR {
    display: inline-block;
    color: #0068a6;
    width: 100px;
    text-align: left;
}
.inviteDiv {
    width: 60%;
    margin: auto;
    margin-top: 10%;
}
.inviteWrapper {
	text-align: center;
	font-size: 1.5em;
	letter-spacing: .1em;
}
.inviteHead {
	font-size: 1.5em;
    color: #0088d9;
}
.inviteWrapper label {
	display: block;
    color: #363636;
    text-align: left;
    margin-top: 3%;
}
.inviteWrapper input {
	display: block;
    color: #363636;
    width: 100%;
    margin: 1% 0;
    padding: 3%;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.inviteWrapper button {
    background-color: #0088d9;
    border-color: #0088d9;
    color: #fff;
    border: 0;
    border-radius: 3px;
    margin-top: 4%;
    padding: 3% 10%;
    cursor: pointer;
}
.inviteMenu {
    float: left;
    width: 30%;
}
.inviteContent {
    float: left;
    width: 64%;
    text-align: left;
    padding: 0 3%;
}
.inviteContent h3 {
    margin-top: 0;
}
.inviteMenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
    text-align: left;
}
.inviteMenu ul li {	
	padding: 5%;
    cursor: pointer;
}
.inviteMenu ul li:hover {
	background-color: #4bb7f7;
    color: #fff;
}
.inviteMenuSelected {
	background-color: #4bb7f7;
    color: #fff;
}
#tab2, #tab3, #tab4 {
	display:none;
}
#loader {
	display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(../images/rolling.gif) no-repeat;
    background-position: center;
    background-color: rgba(224, 224, 224, 0.5);
}
#callAlert {
	display: none;
    width: 100%;
    height: 15%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    background: rgb(0, 136, 217);   
}
.alertDiv {
    width: 40%;
    margin: auto;
    margin-top: 2%;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: .1em;
    color: #fff;
}
.actionBtnDiv {
	margin-top: 2%;
}
.actionBtnDiv button {
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.join {
	background-color: #8BC34A;
	padding: 1% 7%;
}
.decline {
	background-color: #F44336;
	padding: 1% 5%;
	margin-left: 3%;
}