html, body {
	width: 1280px;
	height: 720px;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10px;
	background-color: #fff;
}
::-webkit-input-placeholder { 
  color: #b1b1b1;
}
::-moz-placeholder { 
  color: #b1b1b1;
}
:-ms-input-placeholder { 
  color: #b1b1b1;
}
:-moz-placeholder { 
  color: #b1b1b1;
}

div, p, span, a, button {
    color: #FFFFFF;
    font-family: Arial, "Bitstream Vera Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    text-shadow: 2px 2px 2px hsla(0,0%,0%,0.40);
}

button.active {
    background-color: rgba(128,182,62,1.00);
}

#container {
	width: 100%;
	height: 100%;
    background: #ffffff url("../images/bk_secondary.jpg") top left no-repeat;
}
.page-title {
    position: absolute;
    display: block;
    font-size: 30px;
    left: 66px;
    top: 104px;
    width: 344px;
    height: 66px;
    z-index: 1;
    text-align: center;
    letter-spacing: .5px;
    color: #FCFCFC;
    line-height: 72px;
    background-size: cover;
    background-color: #217C32;
    border-top-right-radius: 120px 20px;
    border-top-left-radius: 120px 20px;
    font-weight: bold;
    box-shadow: 3px 0px 6px 0px rgba(3,3,3, .3);
    text-shadow: 2px 2px 6px rgba(3,3,3, .8);
}
a.back-button {
	font-size: 1em;
	top: 0px;
	color: #E3CB90;
	text-decoration: none;
}
#headerDiv {
	float: left;
	width: 100%;	
	height: 8.5%;
	height: 20%;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
#contentDiv {
    position: absolute;
	width: 100%;	
	height: 599px;
    top: 121px;
    left: 0;
}
#bottomDiv {
	float: left;
	width: 98%;	
	height: 2%;
	padding: 1%;
	background-color: #0078bf;
    color: #fff;
    text-align: center;
    font-size: 1.25em;
    letter-spacing: .01em;
}

.logo {
	width: 210px;
    float: left;
    margin: 26px 0 0 60px;
}
.vmrDisplay {
	width: 100px;
    position: absolute;
    left: 1120px;
    text-align: right;
    color: #363636;
    letter-spacing: .1em;
}
.assingedVMR {
    display: inline-block;
    color: #0068a6;
    width: 100px;
    font-size: 16px;
    text-shadow: none;
}
.inviteDiv {
    width: 60%;
	width: 80%;
    margin: auto;
    margin-top: 10%;
	margin-top: 0%;
}
.inviteWrapper {
}
.inviteHead {
	font-size: 1.5em;
    color: #0088d9;
}
.inviteWrapper label {
	display: block;
    color: #363636;
    text-align: left;
    margin-top: 3%;
}
.inviteWrapper input {
	display: block;
    color: #363636;
    width: 700px;
    margin: 5px 0;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 6px;
}
.inviteWrapper button {
    background-color: #0088d9;
    border-color: #0088d9;
    color: #fff;
    border: 0;
    border-radius: 3px;
    /*margin-top: 14%;*/
	margin-top: 15px;
    padding: 10px 20px;
    cursor: pointer;
	font-size: 26px;
    box-shadow: 3px 3px 5px 1px rgba(2,2,2,0.40);
}
.inviteWrapper button.active {
    background-color: rgba(128,182,62,1.00);
}
.inviteWrapper button.inviteMenuSelected {
    background-color: #FFF;
    color: #0088d9;
}
.inviteMenu {
    position: absolute;
    width: 344px;
    height: 472px;
    left: 66px;
    top: 36px;
    padding: 20px 0 0 0;
    box-shadow: 2px 2px 6px 0px #0C1E32;
    background-color: rgba(53,71,78,.80);
    -webkit-box-shadow: 2px 2px 6px 0px #0C1E32;
}
.inviteContent {
    position: absolute;
    width: 800px;
    height: 390px;
    top: 40px;
    left: 430px;
    padding-left: 10px;
}
.inviteContent h3 {
    color: #DCF5A8;
    margin-top: 0;
    font-size: 30px;
}
.inviteMenu ul {
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
	list-style: none;
    text-align: left;
	font-size: 1em;
}
.inviteMenu ul li {
    position: relative;
    display: block;
    height: 45px;
    margin-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: .5px;
    color: #D2E5F4;
    cursor: pointer;
}
.inviteMenu ul li.back-button {
    font-size: 26px;
    top: 0px;
    text-align: left;
    margin-bottom: 10px;
    color: #E3CB90;
}
.inviteMenu ul li:hover {
	/*background-color: #4bb7f7;*/
	background-color: #0088d9;
    color: #fff;
}
.inviteMenu ul li.selected {
	/*background-color: #4bb7f7;*/
	background-color: #217c32;
    color: #fff;
}
#tab2, #tab3, #tab4 {
	display:none;
}
#loader {
	display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background: url(../images/rolling.gif) no-repeat;
    background-position: center;
    background-color: rgba(224, 224, 224, 0.5);
}
#callAlert {
	display: none;
    width: 1280px;
    height: 200px;
    padding-top: 20px;
    position: absolute;
    z-index: 5;
    bottom: 0;
    background: #2f2f2f;
}
.alertDiv {
    width: 1200px;
    margin: auto;
    text-align: center;
    font-size: 26px;
    color: #fff;
}
.actionBtnDiv {
	margin-top: 2%;
}
.actionBtnDiv button {
    color: #D2E5F4;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    padding: 12px 80px;
}
.join {
    background-color: #49674e;
}
.decline {
    background-color: #927573;
	margin-left: 40px;
}
.join.active {
    background-color: #8BC34A;
    color: #fff;
}
.decline.active {
    background-color: #F44336;
    color: #fff;
}
#alertBox {
    display: none;
    position: absolute;
    width: 500px;
    height: 200px;
    left: 390px;
    top: 300px;
    background: #5cb0e2;
    font-size: 24px;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    z-index: 1;
}
