html, body {
	width: 100%;
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background: url("../images/LAN_Martti_Main_ref_1920x1080.png") no-repeat;
	background-size: 100% 100%;
}
#wrapper {
	width: 100%;
	height: 100%;
}
#topDiv {
	float: left;
	width: 100%;	
	height: 47.4%;
}
#bottomDiv {
	float: left;
	width: 100%;	
	height: 52.6%;
	/* display: flex;
    justify-content: center;
    align-items: center; */
}
#headerContainer {
	display: none;
}
#header {
	height: 30px;
   	background-color: rgba(9, 116, 171, 0.3);
   	color: #FFF;
    font-size: 12px;
    font-weight: 700;	
    padding: 5px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.welcome {
    float: left;
    width: 50%;
}
.logout {
    width: 50%;
    float: left;
    text-align: right;
}

#testConn {
    font-size: 1.5vmin;
    width: auto;
    background-color: rgba(9, 116, 171, 0.5) !important;
    color: #FFF;
    padding: 0.75em;
}

#testConn:hover {
	 background-color: rgba(9, 116, 171, 1) !important;

}

.logImg {
	cursor: pointer;
	vertical-align: middle;
	width:20px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.logImg:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#langBtns {
	width: 80%; 
	margin: 8% 10%;
}
h3 {
		text-align: center;
		margin-top: 0;
		color: #fff;
		font-family: sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
}
/* table {
	width: 100%;
	border-spacing: 10px;
    border-collapse: separate;
}
td {
	width: 50%;
   	text-align: center;
   	padding: 10px;
}
button {
    width: 90%;
    background-color: #fd9827;
    border: 0;
    border-radius: 40px;
    padding: 4%;
    font-size: 2.5vmin;
    color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}	
button.other {
	background-color: #0974ab !important;
    padding: 1.9%;
    width: 42.5%;
}
button:hover  {
	 background-color: #FEAB50;
} */

table {
	width: 100%;
	border-spacing: 2px;
    border-collapse: separate;
}
td {
	width: 50%;
   	text-align: center;
   	padding: 2px;
}
input {
    width: 30%;
    padding: 1%;
    margin: 2%;
    border-radius: 3px;
    border: 0;
    font-size: 1em;
    letter-spacing: 1px;
}
button {
    width: 25%;
    background-color: #fd9827;
    border: 0;
    border-radius: 40px;
    padding: 4%;
    font-size: 2.5vmin;
    color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}	
button.other {
	background-color: #0974ab !important;
    padding: 1%;
    width: 14%;
    margin: 2%;
    font-size: 1em;
}

.other:hover  {
	 background-color: #3788b1 !important;
}

button:focus {
	outline:0;
}
#portraitTable {
	display: none;
}
#loader {
	display:none;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	z-index:15;	
	/* background: url("../images/loader.gif") no-repeat center center fixed;
	background-size: 48px; */
	background-color: rgba(255,255,255,0.6);
	padding-top: 10%;
	text-align: center;
	color: #1f76a9;
	font-weight: bold;
}
#alertDiv {
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	z-index:12;	
	background-color:rgba(0, 0, 0, 0.8);
}
#alertContainer {
	height:100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
#alertBox {
	width: 25%;
	padding: 2%;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    word-wrap: break-word;
}
#alertBox h3 {
	color: #ffae53;
}
#alertBox p {
	color: #fff;
    text-align: center;
    font-size: 0.75em;
    padding: 5%;
}
#alertImg {
	margin-right: 3%;
}
#okBtn {
	text-align: center;
	font-size: 0.75em;
}
#okBtn button{
	border-radius: 5px;
    border: 0;
    background-color: #4CAF50;
    color: #e8e8e8;
    padding: 2% 8%;
    cursor: pointer;
    width: auto;
    font-size: 1em;
}

#iframeDiv {
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	z-index:10;	
	background-color:rgba(0, 0, 0, 0.5);
}
#iframeContainer {
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#caWrapper {
	width: 75%;
    height: 75%;
}

#fullScreen {
	color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 20;
    margin-top: -45px;
    margin-left: 7px;
}
#closeBtn {
    text-align: right;
    margin-left: 23px;
    margin-top: -24px;
    position: absolute;
    width: 75%;
}
#closeIcon {
	cursor: pointer;
}


@media screen and (orientation:portrait) {
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
		background: url("../images/LAN_Martti_Main_ref_1536x2048.png") no-repeat;
		background-size: 100% 100%;
	}
	#wrapper {
		width: 100%;
		height: 100%;
	}
	#topDiv {
		float: left;
		width: 100%;	
		height: 41%;
	}
	#bottomDiv {
		float: left;
		width: 100%;	
		height: 59%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	    border:1px solid #ccc;
	}
	
	#landscapeTable {
		display: none;		
	}
	#portraitTable {
		display: block;
	}
	
	td {
		width: 30%;
	   	text-align: center;
	}
	button {
		width: 85%;
	    background-color: #fd9827;
	    border: 0;
	    border-radius: 40px;
	    padding: 3%;
	    font-size: 1em;
	    color: #fff;
	    white-space: nowrap;
	    overflow-x: hidden;
	    text-overflow: ellipsis;
	    cursor: pointer;
	}
	button.other {
		background-color: #0974ab !important;
		padding: 3%;
   		width: 85%;
	}
}

@media screen and (max-height : 600px) and (orientation:portrait) {
	button {
		width: 75%;
	    font-size: 0.75em;
	}
	button.other {
		width: 75%;
	    font-size: 0.75em;
	    padding: 3%;
	}	
	table {
		border-spacing: 7px;
	    border-collapse: separate;
	}
	td {
	   	padding: 7px;
	}		
}

@media screen and (max-height : 420px) and (orientation:portrait) {
	button {
		width: 75%;
	    font-size: 0.7em;
	}
	button.other {
		width: 75%;
	    font-size: 0.7em;
	    padding: 3%;
	}	
	table {
		border-spacing: 4px;
	    border-collapse: separate;
	}
	td {
	   	padding: 4px;
	}	
}

@media screen and (max-width : 420px) and (orientation:portrait) {
	
	table {
		border-spacing: 5px;
	    border-collapse: separate;
	}
	td {
	   	padding: 7px;
	}	
}

@media screen and (max-height : 600px) and (orientation:landscape) {
	button {
		width: 80%;
	    font-size: 0.75em;
	}
	button.other {
		width: 40%;
	    font-size: 0.75em;
	}	
	table {
		border-spacing: 7px;
	    border-collapse: separate;
	}
	td {
	   	padding: 7px;
	}		
}

@media screen and (max-height : 420px) and (orientation:landscape) {
	button {
		width: 80%;
	    font-size: 0.6em;
	}
	button.other {
		width: 40%;
	    font-size: 0.6em;
	}	
	table {
		border-spacing: 4px;
	    border-collapse: separate;
	}
	td {
	   	padding: 4px;
	}	
}

@media  screen and (max-width: 980px) and (orientation:landscape)  {
   button {
	    width: 90%;
	    background-color: #fd9827;
	    border: 0;
	    border-radius: 40px;
	    padding: 4%;
	    font-size: 3vmin;
	    color: #fff;
	    white-space: nowrap;
	    overflow-x: hidden;
	    text-overflow: ellipsis;
	    cursor: pointer;
	}	
}

@media  screen and (min-width: 1366px) and (orientation:landscape)  {
   button {
	    width: 90%;
	    background-color: #fd9827;
	    border: 0;
	    border-radius: 40px;
	    padding: 4%;
	    font-size: 3.5vmin;
	    color: #fff;
	    white-space: nowrap;
	    overflow-x: hidden;
	    text-overflow: ellipsis;
	    cursor: pointer;
	}	
}