html, body {
	width: 280px;
    height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	float: left;
	background: url("../images/LAN_Martti_Main_ref_1920x1080.png") no-repeat;
	background-size: 280px 100%;
}
#wrapper {
	margin: 0px auto;
	width: 75%;
	height: 100%;
}
#topDiv {
	float: left;
	width: 100%;	
	height: 42%;
}
#bottomDiv {
	float: left;
	width: 100%;	
	height: 58%;
	padding-top:15%;
	display: flex;
    justify-content: center;
}
#headerContainer {
	display: none;
}
#header {
	height: 30px;
   	background-color: rgba(9, 116, 171, 0.3);
   	color: #FFF;
    font-size: 12px;
    font-weight: 700;	
    padding: 5px;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.welcome {
    float: left;
    width: 50%;
}
.logout {
    width: 50%;
    float: left;
    text-align: right;
}
.logImg {
	cursor: pointer;
	vertical-align: middle;
	width:20px;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.logImg:hover {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#langBtns {
	width: 100%; 
}
h3 {
		text-align: center;
		margin-top: 0;
		color: #fff;
		font-family: sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
}
table {
	width: 100%;
	border-spacing: 2px;
    border-collapse: separate;
}
td {
	width: 50%;
   	text-align: center;
   	padding: 2px;
}
button {
    width: 100%;
    background-color: #fd9827;
    border: 0;
    border-radius: 40px;
    padding: 4%;
    font-size: 2.5vmin;
    color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}	
button.other {
	background-color: #0974ab !important;
    padding: 1.9%;
    /* width: 42.5%; */
    width: 30%;
}
button:hover  {
	 background-color: #FEAB50;
}
.other:hover  {
	 background-color: #3788b1 !important;
}

button:focus {
	outline:0;
}
#portraitTable {
	display: none;
}
#loader {
	display:none;
	width:100%;
	height: 100%;
	position: absolute;
	top:0;
	z-index:15;	
	background: url("../images/loader.gif") no-repeat center center fixed;
	background-size: 48px;
	background-color: rgba(255,255,255,0.6);
}
#alertDiv {
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	z-index:12;	
	background-color:rgba(0, 0, 0, 0.8);
}
#alertContainer {
	height:100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
#alertBox {
	width: 25%;
	padding: 2%;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    word-wrap: break-word;
}
#alertBox h3 {
	color: #ffae53;
}
#alertBox p {
	color: #fff;
    text-align: center;
    font-size: 0.75em;
    padding: 5%;
}
#alertImg {
	margin-right: 3%;
}
#okBtn {
	text-align: center;
	font-size: 0.75em;
}
#okBtn button{
	border-radius: 5px;
    border: 0;
    background-color: #4CAF50;
    color: #e8e8e8;
    padding: 2% 8%;
    cursor: pointer;
    width: auto;
    font-size: 1em;
}

