body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	
	 #bg {
		width: 100%;
		height: 100%;
		background: url("../images/LAN_Martti_Main_ref_1920x1080.png") no-repeat;
		background-size: 100% 100%;
		
	}
	#wrapper {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		display:none;
	}
	#topDiv {
		float: left;
		width: 100%;	
		height: 47.4%;
	}
	#bottomDiv {
		float: left;
		width: 100%;	
		height: 52.6%;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	#login {
		width: 100%;
	}
	form {
	  position: relative;
	  width: 40%;
	  height: 25%;
	  margin: 0 auto;
	  border-radius: 10px;
	  background: rgba(210,210,210,0.1);
	  padding: 25px;
	}

	form input, form button {
	    width: 87%;
	    border: 0;
	    border-bottom: 1px solid;
	    background-color: transparent;
	    background-repeat: no-repeat;
	    padding: 3% 3% 3% 10%;
	    letter-spacing: .075em;
	    color: #fff;
	    text-shadow: 0 1px 0 rgba(0,0,0,.1);
	    margin-bottom: 19px;
	    font-size: 0.8em;
	}

	form input:focus, form button:focus{
		outline: none;
	}

	form input.email {
	  background-image: url("../images/user.png");
	  background-position: 1% 40%;
	}

	form input.pass {
	  background-image: url("../images/key.png");
	  background-position: 1% 40%;
	}

	::-webkit-input-placeholder { color: rgba(255, 255, 255, 0.5); text-transform: uppercase; }
	::-moz-placeholder { color: rgba(255, 255, 255, 0.5); text-transform: uppercase; }
	:-ms-input-placeholder { color: rgba(255, 255, 255, 0.5); text-transform: uppercase; }

	form button[type=button] {
	  width: 100%;
	  margin-bottom: 0;
	  text-transform: uppercase;
	  border-bottom:0;
	  padding: 3%;
	  cursor: pointer;
	  background-color: rgba(20, 79, 109, 0.5);
      color: rgba(253, 152, 39, 0.7);
	}
	form button[type=button]:hover {
		background-color: rgba(20, 79, 109, 1);
    	color: rgba(253, 152, 39, 1);
	}
	h3 {
		text-align: center;
		margin-top: 0;
		color: #fff;
		font-family: sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: .075em;
	}
	
	
/*** Box effect ***/
.boxEffect
{
    position:relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
.boxEffect:before, .boxEffect:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
  
    left:0;
    right:0;
    border-radius:100px / 10px;
} 
.boxEffect:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}

#loader {
	
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	z-index:5;	
	background: url("../images/loader.gif") no-repeat center center fixed;
	background-size: 48px;
	background-color:rgba(255,255,255,0.6);
}
#alertDiv {
	display: none;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	z-index:10;	
	background-color:rgba(0, 0, 0, 0.8);
	
}
#alertContainer {
	height:100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
#alertBox {
	width: 25%;
	padding: 2%;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.2);
    word-wrap: break-word;
}
#alertBox h3 {
	color: #ffae53;
}
#alertBox p {
	color: #fff;
    text-align: center;
    font-size: 0.75em;
    padding: 5%;
}
#alertImg {
	margin-right: 3%;
}
#okBtn {
	text-align: center;
	font-size: 0.75em;
}
#okBtn button{
	border-radius: 5px;
    border: 0;
    background-color: #4CAF50;
    color: #e8e8e8;
    padding: 2% 8%;
    cursor: pointer;
}

/*** shadow effect ***/
.shadowEffect
{
    position:relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 255, 255, 0.1) inset;
}
.shadowEffect:before, .shadowEffect:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    
    left:0;
    right:0;
    border-radius:100px / 10px;
} 
.shadowEffect:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}


#errorMsg {
	color: #ff4949;
    font-size: 0.75em;
    font-family: sans-serif;	
}
.redBorder {
	border-bottom: 1px solid #ff4949;
}

@media screen and (orientation:portrait) {
		
		#bg {
			width: 100%;
			height: 100%;
			background: url("../images/LAN_Martti_Main_ref_1536x2048.png") no-repeat;
			background-size: 100% 100%;
			
		}
		#topDiv {
			float: left;
			width: 100%;	
			height: 41%;
		}
		#bottomDiv {
			float: left;
			width: 100%;	
			height: 59%;
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		#alertBox {
		    width: 35%;
		    padding: 5%;
		    border-radius: 10px;
		    background-color: rgba(255,255,255, 0.2);
		    word-wrap: break-word;
		}
	}