body{
overflow: hidden;
    overflow-y: hidden;
}
#fw{
    width:1024px;
    height: 768px;
    margin: 0 auto;
    overflow: hidden;
}


#home_container{
    background: url(../images/background_wellcome.jpg) no-repeat;
    width: 1024px;
    height: 768px;
}

#languages_container{
    background: url(../images/background_wellcome.jpg) no-repeat;
     width: 1024px;
    height: 421px;
/*    background-position-y: -358px; */
    background-position-y: -367px;
    margin-top: 366px;
}

#video_container{
    background: url(../images/background_video.png) no-repeat ;
    width: 1024px;
    height: 768px;
}

.right_column{
text-align: center;
position: relative;
float:left;
width: 193px;
margin-left: 15px;
    margin-top: 80px;
line-height: 34px;
}
.left_video_container{
background-color: darkblue;
width: 800px;
    margin-left: 15px;
    margin-top: 97px;
min-height: 600px;
position: relative;
    float: left;
}

.main_button{
    position: absolute;
    background-color: white;
    top: 67%;
    border: 1px solid #FFF;
    border-radius: 50px;
    text-align: center;
    padding: 25px;
    position: absolute;
    background-color: white;
    top: 67%;
    border: 1px solid #FFF;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
    overflow: hidden;
    
}
.main_button:hover{
    background-color: #EFEFFE;
}

.orange_button{
    background-color: #FD9727;
    border: 1px solid #FD9727;
    border-radius: 50px;
    text-align: center;
    padding: 11px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-family: Verdana;
    font-weight: normal;
    width: 35%;
    display: inline-block;
    font-size: 21px;
    margin: 0px 8px;
}


.orange_button:hover{
    background-color: #FEAB50;
}

.white_button{
    background-color: #FFF;
    border: 1px solid #FFF;
    border-radius: 50px;
    text-align: center;
    padding: 11px;
    overflow: hidden;
    color: #3A3A3A;
    text-decoration: none;
    font-family: Verdana;
    font-weight: normal;
    width: 35%;
    display: inline-block;
    font-size: 21px;
    margin: 0px 8px;
}

.white_button:hover{
    background-color: #EFEFEF;
}

.orange_small_button{
    background-color: #FD9727;
    border: 1px solid #FD9727;
    border-radius: 50px;
    text-align: center;
    padding: 3px;
    overflow: hidden;
    color: white;
    text-decoration: none;
    font-family: Verdana;
    font-weight: normal;
    width: 76%;
    display: inline-block;
    font-size: 12px;
    margin: 0px 8px;
}

.orange_small_button:hover{
    background-color: #FEAB50;
}


.main_button img{
    width:85%;
}


table {
	width: 100%;
	border-spacing: 2px;
    border-collapse: separate;
}
td {
	width: 50%;
   	text-align: center;
   	padding: 2px;
}
input {
    width: 30%;
    padding: 2%;
    margin: 2%;
    border-radius: 3px;
    border: 0;
    font-size: 1em;
    letter-spacing: 1px;
}
button {
    width: 25%;
    background-color: #fd9827;
    border: 0;
    border-radius: 40px;
    padding: 4%;
    font-size: 2.5vmin;
    color: #fff;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}	
button.other {
	background-color: #0974ab !important;
    padding: 1%;
    width: 15%;
    margin: 2%;
}




@-moz-document url-prefix() { 
  #lang-div {
     top: 31em !important;
  }
}

@-moz-document url-prefix() { 
  #languages_container  {
     margin-top: 0px;
  }
}
@-moz-document url-prefix() { 
  #languages_container  {
     height: 48em;
  }
}



